<div class="lg:w-3/12 mt-5 m-5 p-10 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold pt-5">Reset your password</h3>

    <form [formGroup]="resetForm" class="flex flex-col">
        <span class="m-5">
            Please use strong password
        </span>
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="password" class="p-2 border border-gray-300 rounded" type="password"  placeholder="password"/>
            <span *ngIf="resetForm.hasError('required','password')  && resetForm.controls['password'].dirty" class="text-red-500 ">*Password is required</span>
            
        </div>
       
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="confirmPassword" class="p-2 border border-gray-300 rounded" type="password"  placeholder="Confirm Password"/>
            <span *ngIf="resetForm.hasError('required','confirmPassword')  && resetForm.controls['confirmPassword'].dirty" class="text-red-500 ">*Confirm Password is required</span>
            <span *ngIf="resetForm.hasError('confirmPasswordValidator','confirmPassword')" class="text-red-500 ">*Confirm Password is not matched!</span>
        </div>
        
        <div class="mt-2"></div>
        <button [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid" (click)="resetPassword()" class="bg-indigo-600 rounded mt-3 text-white">Login</button>
    </form>
   
</div>